<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Empleados</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
	
	
	
	
	<div class="bg-light p-5">
		<form th:action="@{/empleado}" th:object="${empleado}" method="POST">
		<div class="mb-3 mt-3">
			<label for="noEmp">Número:</label>
			<input type="text" class="form-control" id="noEmp" placeholder="Generado Automaticamente" name="noEmp" th:field=="*{id}">
		</div>
		<div class="mb-3 mt-3">
			<label for="nomEmp">Nombre:</label>
			<input type="text" class="form-control" id="nomEmp" placeholder="Nombre de empleado" name="nomEmp" th:field="*{nombre}">
		</div>
		<div class="mb-3 mt-3">
			<label for="nomEmp">Rol:</label>
			<label class="form-check-label">Chofer</label>
			<input class="form-check-input" type="radio" id="chofer" name="option1" value="chofer" th:field="*{rol}">
			<label class="form-check-label">Cargador</label>
			<input class="form-check-input" type="radio" id="cargador" name="option2" value="cargador" th:field="*{rol}">
			<label class="form-check-label">Auxiliar</label>
			<input class="form-check-input" type="radio" id="auxiliar" name="option3" value="auxiliar" th:field="*{rol}">
		</div>
		<div class="mb-3 mt-3 text-center">
			<button class="btn btn-primary">Guardar</button>
			<a th:href="@{../mostrarempleados}" class="btn btn-warning"> Cancelar </a>
		</div>
		</form>
	</div>

</body>

</html>